:host {
  // primary styles set by default

  --_bg-color: var(--button);
  --_bg-hover-color: #207CD7FF;
  --_shadow-color: var(--primary-shadow);

  border: unset;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 8px var(--primary-shadow);
  background-color: var(--_bg-color);
  font: normal normal normal 14px/17px Helvetica;
  color: white;
  height: 46px;
  width: 120px;
  cursor: pointer;
  transition-duration: 500ms;

  &:hover {
    background-color: var(--_bg-hover-color);
  }

  &.accent {
    --_bg-color: var(--error);
    --_bg-hover-color: #dc6789;
    --_shadow-color: var(--accent-shadow);
  }
}