@use "src/styles/mixins";

:host {
  @include mixins.default-component();
  padding: 26px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__close {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--table-header);
    font-size: large;
    border: unset;
    background-color: unset;
    cursor: pointer;
  }
}

.user-form {
  display: grid;
  grid-row-gap: 16px;
  margin-block-start: 29px;

  &__control {
    label {
      color: var(--text-primary);
    }
    label + app-generic-input,
    label + select,
    label + input {
      margin-block-start: 3px;
    }
    &:not(:has(app-generic-input)) {
      select,
      input {
        width: 100%;
        box-sizing: border-box;
        padding-inline-start: 16px;
        background-color: var(--form-control);
        border: 1px solid transparent;
        border-radius: var(--border-radius);
        font: var(--default-font);
        font-weight: 300;
        color: var(--text-primary);
        height: 46px;

        &.ng-invalid.ng-dirty {
          border-color: var(--error);
        }
      }
    }
    &_error {
      font: var(--default-font);
      color: var(--error);
    }
  }

  &__create {
    justify-self: center;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }
}