<section class="top-row">
<!--  /** first variant */-->
  @if ($pageMode() === pageModeEnum.update && $user()) {
    <h3>{{ $user()?.first_name }}&nbsp;{{ $user()?.last_name }}</h3>
  } @else {
    <h3>Create new user</h3>
  }

<!--  /** second variant */-->
<!--  @if (user$ | async; as user) {-->
<!--    <h3>{{ user.first_name }}&nbsp;{{ user.last_name }}</h3>-->
<!--  } @else {-->
<!--    <h3>Create new user</h3>-->
<!--  }-->

  <!--  /** third variant */-->
<!--  @if ($pageMode() === pageModeEnum.update && $user3()) {-->
<!--    <h3>{{ $user3()?.first_name }}&nbsp;{{ $user3()?.last_name }}</h3>-->
<!--  } @else {-->
<!--    <h3>Create new user</h3>-->
<!--  }-->

  <button class="top-row__close" routerLink="/">✕</button>
</section>

<form [formGroup]="form" class="user-form">
  <div class="user-form__control">
    <label for="username">Username*</label>
    <input [formControl]="form.controls.username" id="username" type="text">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.username }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="first-name">First name*</label>
    <input [formControl]="form.controls.first_name" id="first-name" type="text">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.first_name }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="last-name">Last name*</label>
    <input [formControl]="form.controls.last_name" id="last-name" type="text">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.last_name }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="email">Email*</label>
    <app-generic-input>
      <img src="assets/icons/alternate_email_black_24dp.svg" ngProjectAs="prefix">
      <input [formControl]="form.controls.email" id="email" type="email">
    </app-generic-input>

    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.email }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="type">Type*</label>
    <select [formControl]="form.controls.user_type" id="type">
      <option [value]="userTypeEnum.Admin">{{ userTypeEnum.Admin }}</option>
      <option [value]="userTypeEnum.Driver">{{ userTypeEnum.Driver }}</option>
    </select>
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.user_type }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="password">Password*</label>
    <input [formControl]="form.controls.passwords.controls.password" id="password" type="password">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.passwords.controls.password }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="repeat-password">Repeat password*</label>
    <input [formControl]="form.controls.passwords.controls.repeatPassword" id="repeat-password" type="password">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.passwords.controls.repeatPassword }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.passwords }"
    ></ng-container>
  </div>

  @if ($pageMode() === pageModeEnum.update) {
    <div class="user-form__actions">
      <button
        (click)="onDelete()"
        app-button
        color="accent"
      >
        Delete
      </button>

      <button app-button>Save</button>
    </div>
  } @else {
    <button
      (click)="onCreate()"
      app-button
      class="user-form__create"
    >
      Create
    </button>
  }
</form>

<ng-template #errors let-control>
  @if (control.dirty && control.hasError('required')) {
    <div class="user-form__control_error">This field is required</div>
  }

  @if (control.dirty && control.hasError('email')) {
    <div class="user-form__control_error">Wrong Email address</div>
  }

  @if (control.hasError('minlength')) {
    <div class="user-form__control_error">Min length is {{ control.getError('minlength')?.['requiredLength'] }}</div>
  }

  @if (control.hasError('pattern')) {
    <div class="user-form__control_error">Incorrect value</div>
  }

  @if (control.hasError('passShouldMatch')) {
    <div class="user-form__control_error">Passwords Should Match</div>
  }

  @if (control.hasError('isExist')) {
    <div class="user-form__control_error">User with this name exists</div>
  }
</ng-template>