<section class="top-row">
<!--  /** first variant */-->
  @if ($pageMode() === pageModeEnum.update && $user()) {
    <h3>{{ $user()?.first_name }}&nbsp;{{ $user()?.last_name }}</h3>
  } @else {
    <h3>Create new user</h3>
  }

<!--  /** second variant */-->
<!--  @if (user$ | async; as user) {-->
<!--    <h3>{{ user.first_name }}&nbsp;{{ user.last_name }}</h3>-->
<!--  } @else {-->
<!--    <h3>Create new user</h3>-->
<!--  }-->

  <button class="top-row__close" routerLink="/">✕</button>
</section>

<form [formGroup]="form" class="user-form">
  <div class="user-form__control">
    <label for="username">Username*</label>
    <input [formControl]="form.controls.username" id="username" type="text">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.username }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="first-name">First name*</label>
    <input [formControl]="form.controls.first_name" id="first-name" type="text">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.first_name }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="last-name">Last name*</label>
    <input [formControl]="form.controls.last_name" id="last-name" type="text">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.last_name }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="email">Email*</label>
    <input [formControl]="form.controls.email" id="email" type="email">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.email }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="type">Type*</label>
    <select [formControl]="form.controls.user_type" id="type">
      <option [value]="userTypeEnum.Admin">{{ userTypeEnum.Admin }}</option>
      <option [value]="userTypeEnum.Driver">{{ userTypeEnum.Driver }}</option>
    </select>
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.user_type }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="password">Password*</label>
    <input [formControl]="form.controls.password" id="password" type="password">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.password }"
    ></ng-container>
  </div>

  <div class="user-form__control">
    <label for="repeat-password">Repeat password*</label>
    <input [formControl]="form.controls.repeatPassword" id="repeat-password" type="password">
    <ng-container
      [ngTemplateOutlet]="errors"
      [ngTemplateOutletContext]="{ $implicit: form.controls.repeatPassword }"
    ></ng-container>
  </div>

  <button app-button class="user-form__create">Create</button>
</form>

<ng-template #errors let-control>
  @if (control.dirty && control.hasError('required')) {
    <div class="user-form__control_error">This field is required</div>
  }
</ng-template>