:root {
  --default-font: normal normal normal 13px/16px Helvetica;
  --background: #eef0f8;
  --border: #EBEDF3;
  --shadow: #523F690D;
  --white: #FFFFFF;
  --text-primary: #3F4254;
  --table-header: #A4A4B5;
  --table-cell: #F4F5F8;
  --table-cell-hover: #EFF0F4;
  --form-control: #F3F6F9;
  --border-radius: 6px;
  --button: #2e8ff0;
  --button-shadow: #2E8FF029;
}