:host {
  width: 100%;
  box-sizing: border-box;
  padding-inline-start: 16px;
  background-color: var(--form-control);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  font: var(--default-font);
  font-weight: 300;
  color: var(--text-primary);
  height: 46px;
  display: inline-flex;
  align-items: center;

  &.input-focus {
    outline: -webkit-focus-ring-color auto 1px;
  }

  ::ng-deep input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
  }

  &.input-invalid {
    border-color: var(--error);
  }
}

.prefix {
  max-width: 24px;
  max-height: 24px;
  margin-inline-end: 6px;
}