<table>
  <tr>
    @for (column of columns; track column) {
      <th>{{ column | uppercase }}</th>
    }
  </tr>

  @for (user of $users(); track user.username) {
    <tr [routerLink]="['/', user.username]" routerLinkActive="active" class="pointer">
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.user_type }}</td>
    </tr>
  } @empty {
    <div class="empty-table">There is no any user yet</div>
  }
</table>